@import '../styleconfig.scss';
//特規設定
$ButtonStyle-config-special:( 
    default:( class:'default', bg:rgb(164, 160, 172), font-Size:16px, font-Color:rgb(0, 0, 0)), 
    fubon:( class:'fubon', bg:rgb(164, 160, 172), font-Size:16px, font-Color:rgb(0, 0, 0)), 
);
//通用按鈕設定
$ButtonStyle-config-Universal:( 
    confirm:( 
        class:'confirm', 
        bg:#157347, 
        font-Size:16px, 
        font-Color:rgb(255, 255, 255),
        bghover:#13643e,
    ), 
    cancel:( 
        class:'cancel', 
        bg:#bb2d3b,
        font-Size:16px, 
        font-Color:rgb(255, 255, 255),
        bghover:#aa2735,
    ),
    pause:(
        class:'pause', 
        bg:#f7bb07, 
        font-Size:16px, 
        font-Color:rgb(255, 255, 255),
        bghover:#e2ab07,
    )
);
@mixin ButtonStyleSet($background, $fontsize, $fontcolor) {
    background-color: $background !important;
    font-size: $fontsize!important;
    color: $fontcolor!important;
}
@mixin ButtonStyleSethover($bghover) {
    &:hover{
        background-color: $bghover !important;
    }
}

@each $name,
$value in $ButtonStyle-config-special {
    $class: map-get($value, class);
    $bg: map-get($value, bg);
    $fontsize: map-get($value, font-Size);
    $fontcolor: map-get( $value, font-Color);
    @if $class==$StyleCTR {
        .SGTP-BtnStyle {
            @include ButtonStyleSet($bg, $fontsize, $fontcolor);
        }
    }
}

@each $name,
$value in $ButtonStyle-config-Universal {
    $class: map-get($value, class);
    $bg: map-get($value, bg);
    $fontsize: map-get($value, font-Size);
    $fontcolor: map-get( $value, font-Color);
    $bghover:map-get($value,bghover);
    .SGTP-BtnStyle-#{$class} {
        @include ButtonStyleSet($bg, $fontsize, $fontcolor);
        @include ButtonStyleSethover($bghover);
    }
}